beautifulsoup4
certifi
charset-normalizer
colorama
contourpy
cycler
DateTime
docx2pdf
et_xmlfile
fonttools
idna
kiwisolver
matplotlib
mpmath
numpy
openpyxl
packaging
pandas
pillow
pip
pyparsing
python-dateutil
pytz
requests
setuptools
six
soupsieve
sympy
tqdm
typing_extensions
tzdata
urllib3
zope.interface
zxcvbn
